{% macro sort(col) %}
    {# get current sort column #}
    {% if app.request.get('sort') is defined and app.request.get('sort') == col %}
        {# if the table is already sorted on this column, check for the current order and do the opposite. #}
        {% if app.request.get('order') == 'ASC' %}
            {% set order = 'DESC' %}
            {% set icon = 'fa fa-sort-up' %}
        {% else %}
            {% set order = 'ASC' %}
            {% set icon = 'fa fa-sort-down' %}
        {% endif %}
    {% endif %}
    <a href="{{ path(app.request.get('_route'), {q: app.request.get('q'), 'sort':col, 'order': order|default('ASC'), }) }}"><i class="{{ icon|default('fa fa-sort') }}"></i></a>
{% endmacro %}

{% macro table(table) %}
    {% import _self as macros %}
    <table class="table table-responsive-sm table-hover">
        <thead>
            <tr>
            {% for col, head in table.tableMeta.view %}
                <th>{{ head }} {{ macros.sort(col) }}</th>
            {% endfor %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in table.pager.currentPageResults %}
            <tr>
            {% for col, head in table.tableMeta.view %}
                <td>{{ attribute(item, col) }}</td>
            {% endfor %}
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path(table.tableMeta.routeNamePrefix ~ 'show', {'id': item.id}) }}"><i class="fa fa-eye"></i>&nbsp;View</a>
                    <a class="btn btn-sm btn-outline-dark" href="{{ path(table.tableMeta.routeNamePrefix ~ 'edit', {'id': item.id}) }}"><i class="fa fa-edit"></i>&nbsp;Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagerfanta">
        {{ pagerfanta(table.pager, 'twitter_bootstrap4') }}
    </div>
{% endmacro %}