{% extends 'layouts/admin.html.twig' %}

{% block title %}Driver{% endblock %}

{% block headerContent %}
    <h1 class="h3">Driver<small class="text-muted"> - {{ driver.name }}</small></h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header font-weight-bold">
                    Basic Details
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Name</dt>
                        <dd class="col-sm-9">{{ driver.name }}</dd>

                        <dt class="col-sm-3">Telephone</dt>
                        <dd class="col-sm-9">{{ driver.telephone }}</dd>

                        <dt class="col-sm-3">Email</dt>
                        <dd class="col-sm-9">{{ driver.email }}</dd>
                    </dl>
                    <hr>
                    <div class="font-weight-bold mb-3">Business Details</div>
                    <dl class="row">
                        <dt class="col-sm-3">Trading Name</dt>
                        <dd class="col-sm-9">{{ driver.tradingName|default('-')  }}</dd>

                        <dt class="col-sm-3">Vat Number</dt>
                        <dd class="col-sm-9">{{ driver.vatNumber|default('-') }}</dd>

                        <dt class="col-sm-3">Subcontractor</dt>
                        <dd class="col-sm-9">{% if driver.subcontractor %}<i class="fa fa-check"></i>{% else %}<i class="text-danger fa fa-times"></i>{% endif %}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-header font-weight-bold">
                    Address
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Line 1</dt>
                        <dd class="col-sm-9">{{ driver.address.line1 }}</dd>

                        <dt class="col-sm-3">Line 2</dt>
                        <dd class="col-sm-9">{{ driver.address.line2|default('-') }}</dd>

                        <dt class="col-sm-3">City</dt>
                        <dd class="col-sm-9">{{ driver.address.city }}</dd>

                        <dt class="col-sm-3">County</dt>
                        <dd class="col-sm-9">{{ driver.address.county|default('-') }}</dd>

                        <dt class="col-sm-3">Postcode</dt>
                        <dd class="col-sm-9">{{ driver.address.postcode }}</dd>

                        <dt class="col-sm-3">Country</dt>
                        <dd class="col-sm-9">{{ driver.address.country|default('-') }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/crud/_show_actions.html.twig' with {routeNamePrefix: 'driver_', id: driver.id} %}
{% endblock %}