{% extends 'layouts/admin.html.twig' %}

{% block title %}Edit Customer{% endblock %}

{% block headerContent %}
    <h1 class="h3">Edit Customer<small class="text-muted"> - {{ customer.name }}</small></h1>
{% endblock %}

{% block breadcrumbContent %}
    <li class="breadcrumb-item"><a href="{{ path('customer_index') }}">Customers</a></li>
    <li class="breadcrumb-item active">Edit {{ customer.name }}</li>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="card card-accent-primary">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="card-title">Details</h4>
                    <p class="text-muted">Basic information about the customer.</p>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.accountRef) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.name) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.contactName) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.telephone) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.email) }}
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-4 mb-4">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="card-title">Address</h4>
                    <p class="text-muted">The customers address.</p>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.address.line1) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.address.line2) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.address.city) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.address.county) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.address.postcode) }}
                        </div>
                        <div class="col-md-8">
                            {{ form_row(form.address.country) }}
                        </div>
                    </div>
                    <button class="btn btn-success" type="submit">Update</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-accent-primary">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="card-title">Accounts Contact</h4>
                    <p class="text-muted">The contact details for the person responsible for the accounts.</p>
                    <p class="text-muted">If an accounts contact is present, they will become the default, for all accounts related correspondence.</p>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.accountsContactName) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.accountsTelephone) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.accountsEmail) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-success" type="submit">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <div class="card card-accent-primary">
        <div class="card-body">
            <h4 class="card-title">Recent Jobs</h4>
            No recent jobs ☹️.
        </div>
    </div>
    <div class="card card-accent-primary">
        <div class="card-body">
            <h4 class="card-title">Recent Quotes</h4>
            No recent quotes ☹️.
        </div>
    </div>
    <div class="card card-accent-danger">
        <div class="card-body">
            <h4 class="card-title">Danger Zone</h4>

        </div>
    </div>
{% endblock %}