{% extends 'layouts/admin.html.twig' %}

{% import 'partials/_macros.html.twig' as macros %}

{% block title %}Customers{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block headerContent %}
    <h1 class="h3">Customers</h1>
    <a href="{{ path('customer_new') }}" class='btn btn-success'>New Customer</a>
{% endblock %}

{% block content %}
    <div class="card card-accent-primary">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mb-4">
                   {% include 'partials/_search.html.twig' %}
                </div>
            </div>
            <p class="text-muted">Showing {{ table.pager.currentPageOffsetStart }} to {{ table.pager.currentPageOffsetEnd }} of {{ table.pager.nbResults }} results</p>
            {{ macros.table(table) }}
        </div>
    </div>
{% endblock %}