{% extends 'layouts/admin.html.twig' %}

{% block title %}Customer{% endblock %}

{% block headerContent %}
    <h1 class="h3">Customer<small class="text-muted"> - {{ customer.name }}</small></h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    <strong>Basic Details</strong>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Account Ref</dt>
                        <dd class="col-sm-9">{{ customer.accountRef }}</dd>

                        <dt class="col-sm-3">Name</dt>
                        <dd class="col-sm-9">{{ customer.name }}</dd>

                        <dt class="col-sm-3">Contact Name</dt>
                        <dd class="col-sm-9">{{ customer.contactName }}</dd>

                        <dt class="col-sm-3">Telephone</dt>
                        <dd class="col-sm-9">{{ customer.telephone }}</dd>

                        <dt class="col-sm-3">Fax</dt>
                        <dd class="col-sm-9">{{ customer.fax }}</dd>

                        <dt class="col-sm-3">Email</dt>
                        <dd class="col-sm-9">{{ customer.email }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-header font-weight-bold">
                    Address
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Line 1</dt>
                        <dd class="col-sm-9">{{ customer.address.line1 }}</dd>

                        <dt class="col-sm-3">Line 2</dt>
                        <dd class="col-sm-9">{{ customer.address.line2|default('-') }}</dd>

                        <dt class="col-sm-3">City</dt>
                        <dd class="col-sm-9">{{ customer.address.city }}</dd>

                        <dt class="col-sm-3">County</dt>
                        <dd class="col-sm-9">{{ customer.address.county|default('-') }}</dd>

                        <dt class="col-sm-3">Postcode</dt>
                        <dd class="col-sm-9">{{ customer.address.postcode }}</dd>

                        <dt class="col-sm-3">Country</dt>
                        <dd class="col-sm-9">{{ customer.address.country|default('-') }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/crud/showActions.html.twig' with {routeNamePrefix: 'customer_', id: customer.id}%}
{% endblock %}
