{% extends 'layouts/admin.html.twig' %}

{% block title %}Vehicle{% endblock %}

{% block headerContent %}
    <h1 class="h3">Vehicle<small class="text-muted"> - {{ vehicle.registration }}</small></h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header font-weight-bold">
                    Basic Details
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Registration</dt>
                        <dd class="col-sm-9">{{ vehicle.registration }}</dd>

                        <dt class="col-sm-3">Make</dt>
                        <dd class="col-sm-9">{{ vehicle.make }}</dd>

                        <dt class="col-sm-3">Model</dt>
                        <dd class="col-sm-9">{{ vehicle.model }}</dd>

                        <dt class="col-sm-3 text-truncate">Type</dt>
                        <dd class="col-sm-9">{{ vehicle.vehicleType }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header font-weight-bold">
                    Dimensions
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Depth</dt>
                        <dd class="col-sm-9">{{ vehicle.depth|default('-') }}</dd>

                        <dt class="col-sm-3">Width</dt>
                        <dd class="col-sm-9">{{ vehicle.width|default('-') }}</dd>

                        <dt class="col-sm-3">Height</dt>
                        <dd class="col-sm-9">{{ vehicle.height|default('-') }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/crud/showActions.html.twig' with {routeNamePrefix: 'vehicle_', id: vehicle.id}%}
{% endblock %}
